@CHARSET "ISO-8859-1";

body {
	width: 100%;
}

#page_title {
	width: 60%; text-align : center;
	color: #FF0000;
	text-align: center;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	border-left-width: 0.25%;
	border-left-style: solid;
	border-left-color: #CCC;
}
li {
	display: inline;
}
a {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	text-decoration: none;
	font-size: 0.9em;
	padding: 0.5%;
	float: left;
	border-bottom-width: 0.25%;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	background-color: #EAEAEA;
	border-top-width: 0.25%;
	border-top-style: solid;
	border-top-color: #CCC;
	border-right-width: 0.25%;
	border-right-style: solid;
	border-right-color: #CCC;
}
a:hover {
	color: #000;
	border-bottom-width: 0.3%;
	border-bottom-style: solid;
	border-bottom-color: #FF4e00;
}

#video_container {
	padding: 2%;
	background-color: grey;
	clear: both;
}



@media screen and (max-width: 960px) {
	#video_container {
		background-color: red;
	}
}

@media screen and (max-width: 768px) {
	#video_container {
		background-color: orange;
	}
}

@media screen and (max-width: 550px) {
	#video_container {
		background-color: yellow;
	}
}

@media screen and (max-width: 320px) {
	#video_container {
		background-color: green;
	}
}